celery==5.4.0
redis==5.0.1
playwright==1.49.0
fastapi==0.111.0
uvicorn==0.29.0
llama-index-core==0.10.38
llama-index-llms-ollama==0.1.4
llama-index-embeddings-huggingface==0.2.0
playwright-stealth==1.0.6
setuptools==81.0.0